body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.App {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #373a40;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    outline: none;
    display: flex;
    padding: 20px;
    background: #373a40;
    flex-direction: column;
    /* border: 2px solid #ccc; */
    overflow: hidden;
    overflow-y: auto;
}

.head {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #dc5f00;
}

textarea {
    padding: 15px;
    border: none;
    outline: none !important;
    width: 96%;
    height: 100%;
    overflow-x: hidden;
    font-size: 17px;
    resize: none;
    color: #eeeeee;
    background: #373a40;
    text-align: left;
}

.markdown {
    padding: 15px;
    border: none;
    outline: none !important;
    width: 96%;
    height: 100%;
    resize: none;
    overflow-x: hidden;
    background: #373a40;
    color: #eeeeee;
    text-align: left;
}
